homeassistant/flows.json
[{"id":"6bd2d5ab.45294c","type":"tab","label":"Main Automations","disabled":false,"info":""},{"id":"8ac81836.56d7a8","type":"server","z":"","name":"Home Assistant","url":"http://localhost:8123","pass":""},{"id":"2ae900e7.93404","type":"api-call-service","z":"6bd2d5ab.45294c","name":"Notify ","server":"8ac81836.56d7a8","service_domain":"persistent_notification","service":"create","data":"{\"message\":\"Recycling Today!\"}","mergecontext":"","x":453.1397819519043,"y":152.79934692382812,"wires":[[]]},{"id":"adcf204a.de314","type":"inject","z":"6bd2d5ab.45294c","name":"Recycling Reminder","topic":"admin","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1","once":false,"onceDelay":0.1,"x":208.1431121826172,"y":153.98523712158203,"wires":[["2ae900e7.93404"]]},{"id":"a8324cc3.efaf","type":"api-call-service","z":"6bd2d5ab.45294c","name":"Notify ","server":"8ac81836.56d7a8","service_domain":"persistent_notification","service":"create","data":"{\"message\":\"Take Out Rubbish Today!\"}","mergecontext":"","x":452.9966583251953,"y":235.110200881958,"wires":[[]]},{"id":"5f40ca06.910eb4","type":"inject","z":"6bd2d5ab.45294c","name":"Rubbish Reminder","topic":"admin","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 3","once":false,"onceDelay":0.1,"x":211,"y":196.29608249664307,"wires":[["a8324cc3.efaf"]]},{"id":"9326108a.4e662","type":"api-call-service","z":"6bd2d5ab.45294c","name":"","server":"8ac81836.56d7a8","service_domain":"persistent_notification","service":"create","data":"{\"message\":\"server turned off!\"}","mergecontext":"","x":551,"y":329,"wires":[[]]},{"id":"b7d6c033.62e48","type":"inject","z":"6bd2d5ab.45294c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":299,"y":316,"wires":[["9326108a.4e662"]]}]